body{
    display: flex;
    flex-direction: column;   
    overflow: scroll;
    min-width: 1317px;
    /*max-width: 1440px !important;*/
    width: 100%;
}
p {
	text-indent: 25px;
	text-align: justify;
}

.header{
    display: flex;
    /*flex-direction: column-reverse;*/
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 32px;
    padding-bottom: 25px;
    background: rgba(245, 247, 219, 0.46);
    /*border: 1px solid #979797;*/
}

.logo{
    margin-left: -15.71px;
    margin-right: 10px;
    width: 102px;
    height: 107px;
    border: 0px solid black;
    /*margin: 7px;*/
    /*position: absolute;*/ 
    /*top:32px; left: 70px;*/

}

.logo img{
    width:102px;
    height:107px;
}

.menuBar {
    display:flex;
    flex-direction: column;
    height: 83px;
    margin: 22px 10px 0px;

}

.menu {
    height: 53px;
    width:100%;
    background: black;
    border-radius: 30px;
    margin: 0px 0px 10px;
}

.menu img{
    height: 53px;
    margin: 0px 22px;
}

.contactsBar{
    display:flex;
    flex-direction: column;
    margin: 18px 10px 0px;
    font-family: "LobsterRegular";
    font-size: 24px;
    font-weight: 200;
}

@font-face {
        font-family: "LobsterRegular";
        src: url("../fonts/LobsterRegular/LobsterRegular.eot");
        src: url("../fonts/LobsterRegular/LobsterRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/LobsterRegular/LobsterRegular.woff") format("woff"),
        url("../fonts/LobsterRegular/LobsterRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

.menuClickableText button{
    background-color: transparent;
    border-style: none;
    font-family: "LobsterRegular";
    font-size: 15px;
    margin: 0px 22px;
    width:116px;
    /*font-family: 'Tangerine', serif;*/
    /*font-size: 48px;*/
    font-family: "LobsterRegular";
}

.userLogo{
    width:67px;
    height: 89px;
    margin-top: 16px;
    /*margin-left: -15.71px;*/
    margin-left: 10px;
    margin-right: -10px;
}

.userLogo img{
    width:67px;
    height: 89px;
    /*margin: 28px 0px 0px;*/
}

.content{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 0 9%;*/
    margin-left: -15.71px;
    margin-right: 65px;
    /*flex-basis: 968px;*/
    width: 978px;
    flex-grow: 1;
}

.internalSpace{
    /*float: left;*/
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 5%;
    position: relative;
    /*padding-right: 5%;*/
}
.titleContent {
font-family: Luminari-Regular;
font-size: 36px;
color: #000000;
text-align: center;
margin: 56px 0px 2px;
}

.contentImage {

	width: 100%;
    margin: 45px 0px;
}

.textContent {
font-family: Luminari-Regular;
font-size: 20px;
color: #000000;
}

.contentNavigation{
    width: 22%;
    float: left;
    /*min-height: 100%;*/
    /*background-color: #F5F7DB;
    opacity: 10%;*/
    background: rgba(245, 247, 219, 0.1);
    /*position: relative;*/
    /*margin: 0px;*/
    /*margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    position: absolute;*/
    
}

.greyLogo{
    height:144px;
    width: 160px;
    margin-top: 60px;
    margin-bottom: 80px;
}

@media (max-width: 1024px){
    .contactsBar{
        display: none;
    }
}

.footer{
    height: 175px;
	display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 36px;
    padding-bottom: 25px;
    /*opacity: 0.81;
    background: #F5F7DB;*/
    background: rgba(245, 247, 219, 0.81);
    border: 1px solid #979797;
}


.footerLogo img{
    width: 79px;
	height: 83px;
}


.footerLogo {
    margin-top: 12px;
	width: 79px;
	height: 83px;
 	margin-left: -15.71px;
    margin-right: 10px;
}

.footerMainContent {
    width: 978px;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;

}

.contactsLTD {
	display: flex;
	flex-direction: column;
font-family: Luminari-Regular;
font-size: 24px;
text-align: center;
color: #000000;
/*margin-left: 40%*/
}

.contactsFooter {
	display: flex;
	flex-direction: column;
    font-family: LobsterTwo;
    font-size: 24px;
    color: #000000;
    margin-right: 3%;
    margin-left: 95px;
    margin-top: 4px;

}

.LogoDecorRights img{ 
width: 80px;
height: 52px;
}

.LogoDecorRights {
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 40px;
    width: 80px;
    height: 52px;
}

.modelItem{
    margin-top: 46px;
    width: 460px;
    /*height: 545px;*/
    margin-bottom: 6px;
}

.modelItem img{
    width: 460px;
    height: 545px;
}

.modelsContent{
    width: 978px;
    position: relative;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
}

.modelDescription{
    height: 81px;
    margin-bottom: 50px;
}
.modelDescription div{
    display: flex;
    justify-content: center;
    font-family: Luminari-Regular;
    font-size: 20px;
}

*{
  box-sizing: border-box;
}