<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="~/css/styles.css">	
    <title>Іграшки з полімерної глини</title>
		<meta name="Description" content="Арт-объединение 'Природа Формы' предлагает широкий спектр скульптурных услуг 'своими руками' " />
		<meta name="Keywords" content="глиняные фигурки, своими руками, купить, куклы, для начинающих, скульптура, игрушки из полимерной глины, полимерная глина, мастер-класс, фото, на заказ, полімерна глина,купити, в домашніх умовах, ціна, майстер-клас, вироби, недорого, купити через інтернет, купить в киеве, купить украина, новогодние поделки">
</head>

        <body>
            <div class = "header"> 
                <div class = "logo">
                    <img src="~/Pictures/Logo.png" alt="Logo Icon">
                </div>
                <div class = "menuBar">
                    <div class="menu">
                        <img src="~/Pictures/MenuItems/MenuItem1.png" alt="MenuItem1">
                        <img src="~/Pictures/MenuItems/MenuItem2.png" alt="MenuItem2">
						<img src="~/Pictures/MenuItems/MenuItem3.png" alt="MenuItem3">
                        <img src="~/Pictures/MenuItems/MenuItem4.png" alt="MenuItem4">
                        <img src="~/Pictures/MenuItems/MenuItem5.png" alt="MenuItem5">       
                    </div>

                    <div class ="menuClickableText">
                        <form>
                             <button>Хто ми</button>
                             <button>Наші Роботи</button>
                             <button>Замовити</button>
                             <button>Майстер-класи</button> 
                             <button>Профіль</button>
                        </form>
                    </div>
                    
                </div>
                <div class = "contactsBar">
                    <label>098-87-87-354</label>
                    <label>063-60-70-170</label>
                    <label>095-89-09-315</label>
                </div>
                <div class = "userLogo">
                	<img src="~/Pictures/userLogo.png" alt="User Logo Icon">
                </div>
            </div>
            <div class = "InternalSpace">
	            <div class = "content">
					@RenderBody()
	            </div>
	            <div class="contentNavigation">
	            
	            </div>
	            <!--
	            <script type="text/javascript">
	            	window.onload = function(){
	            		var parent = document.querySelector('div.InternalSpace'),
	            			child = document.querySelector('div.contentNavigation');
	            			
	            			child.style.height = parent.clientHeight;
	            	}
	            </script>
	            -->
            </div>
            <div class = "footer">
                <div class="footerMainContent">
	                <div class = "footerLogo">
	                    <img src="~/Pictures/Logo.png" alt="Logo Icon"  >
	                </div>
                     <div class="contactsLTD">
                          <label>Ukraine, Kyiv, st. Yangela 5, </label>
                          <label>Nature Science LTD</label>
                         <label>vitalyzhynov@gmail.com</label>
                    </div>
                    <div class="contactsFooter">
                         <label>098-87-87-354</label>
                         <label>098-87-87-354</label>
                         <label>098-87-87-354</label>
                     </div>
                </div> 
                <div class="LogoDecorRights">
                 	<img src="~/Pictures/CopyRightsSymb.png" alt="Copy Rights Icon" >
                </div>
            </div>
        </body>
</html>
